In [1]:
# Lambda and map filter

In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

In [4]:
# map()

In [6]:
seq = [1,2,3,4,5]

In [7]:
times2

In [8]:
map(times2,seq)

In [9]:
# cast with list funciton to see the execution of this map

In [10]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [11]:
# lambda can eliminate hte need to write a tep created funciton for a commonly used once scneario

In [12]:
# lambda, an expression function, is aka anonymous funciton, comes from Pandas library

In [14]:
lambda var:var*2

In [15]:
t = lambda var:var*2

In [16]:
t(6)

12

In [18]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [19]:
seq

[1, 2, 3, 4, 5]

In [21]:
# Filter function, pass function or lambda, and output boolean values

In [22]:
filter(lambda num: num%2 == 0, seq)

In [23]:
list(filter(lambda num: num%2 == 0, seq)) # list will cast it out, and the output will only have even nums from seq list

[2, 4]

In [24]:
# Methods, are calls you can make off an object for output

In [25]:
s = 'Hello, my name is Sam'

In [26]:
s

'Hello, my name is Sam'

In [28]:
s.lower()

'hello, my name is sam'

In [29]:
s.upper()

'HELLO, MY NAME IS SAM'

In [30]:
s

'Hello, my name is Sam'

In [32]:
s.split() # will split on all white space of that string with a delimiter

['Hello,', 'my', 'name', 'is', 'Sam']

In [33]:
# useful for text analysis later on

In [34]:
tweet = 'Go Sports! #Go Sports!'

In [35]:
tweet

'Go Sports! #Go Sports!'

In [36]:
tweet.split()

['Go', 'Sports!', '#Go', 'Sports!']

In [38]:
tweet.split('#') # will split on the character you added to the method

['Go Sports! ', 'Go Sports!']

In [39]:
tweet.split('#')[1] # will grab the 1st column split out

'Go Sports!'

In [40]:
# dictionary

In [41]:
d = {'k1':1,'k2':2}

In [42]:
d

{'k1': 1, 'k2': 2}

In [43]:
d.keys()

dict_keys(['k1', 'k2'])

In [44]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [45]:
d.values()

dict_values([1, 2])

In [46]:
lst = [1,2,3]

In [47]:
lst

[1, 2, 3]

In [50]:
lst.pop()  # pop will pop off, it will remove the last item

3

In [51]:
lst

[1, 2]

In [52]:
lst = [1,2,3,4,5]

In [53]:
lst

[1, 2, 3, 4, 5]

In [54]:
item = lst.pop()

In [55]:
lst

[1, 2, 3, 4]

In [56]:
item

5

In [57]:
first = lst.pop(0) # pops off the index of 0

In [58]:
lst

[2, 3, 4]

In [59]:
first # and now the var of first has in it what you popped off

1

In [60]:
lst.append('new') # allows to append new item to end of the list

In [61]:
lst

[2, 3, 4, 'new']

In [62]:
'x' in [1,2,3] # the IN operator, used to check

False

In [63]:
'x' in ['x','y','z']

True

In [64]:
# Tupal Unpacking

In [65]:
x = [(1,2),(3,4),(5,6)]

In [66]:
x

[(1, 2), (3, 4), (5, 6)]

In [68]:
x[0]

(1, 2)

In [72]:
x[0][1]

2

In [73]:
for item in x:  # not unpacking here, but an ex below
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [74]:
for a,b in x:
    print(a)

1
3
5

In [75]:
for a,b in x:
    print(b)

2
4
6

In [76]:
for a,b in x:
    print(a,b)

1 2
3 4
5 6

In [77]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6