In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [10]:
df # this is an index hieracrhy

             A         B
G1 1  1.077751  1.580207
   2  1.298771  0.128207
   3 -0.771587 -1.524231
G2 1 -1.217628  1.689473
   2 -1.125428 -0.459728
   3 -0.264341  0.795826

In [12]:
df.loc['G1'] # start with most outer left

          A         B
1  1.077751  1.580207
2  1.298771  0.128207
3 -0.771587 -1.524231

In [13]:
df.loc['G1'].loc[1] # continuing to drill in

A    1.077751
B    1.580207
Name: 1, dtype: float64

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ['Groups', 'Num']

In [16]:
df

                   A         B
Groups Num
G1     1    1.077751  1.580207
       2    1.298771  0.128207
       3   -0.771587 -1.524231
G2     1   -1.217628  1.689473
       2   -1.125428 -0.459728
       3   -0.264341  0.795826

In [17]:
df.loc['G2'].loc[2]['B']

-0.4597276263246608

In [19]:
# cross section, sued for multi level index

In [21]:
df.xs('G1')

            A         B
Num
1    1.077751  1.580207
2    1.298771  0.128207
3   -0.771587 -1.524231

In [22]:
df

                   A         B
Groups Num
G1     1    1.077751  1.580207
       2    1.298771  0.128207
       3   -0.771587 -1.524231
G2     1   -1.217628  1.689473
       2   -1.125428 -0.459728
       3   -0.264341  0.795826

In [24]:
df.xs(1,level='Num') # more commonly used

               A         B
Groups
G1      1.077751  1.580207
G2     -1.217628  1.689473