In [1]:
# Pandas , Series, main data type of Pandas

In [2]:
# Pandas is built on top of NumPy, and is considered the Excel of Python, or the DataFrame of R

In [3]:
# NumPy data is an Arrany, and Pandas data is a series

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
# create 4 Python objects
# create lists of data
labels = ['a','b','c']
my_data = [10,20,30]
# create an array from my_data
arr = np.array(my_data)
# create dictionary
d = {'a':10,'b':20,'c':30}

In [7]:
labels

['a', 'b', 'c']

In [8]:
my_data

[10, 20, 30]

In [9]:
arr

array([10, 20, 30])

In [10]:
d

{'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(data = my_data) # first col is the index

0    10
1    20
2    30
dtype: int64

In [12]:
# turn into a lable indexed series from the lables objecte creatd prev

In [15]:
pd.Series(data = my_data,index = labels) # note hte a,b,c in col 1

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(my_data,labels)    # shortcut to the above but loose readability

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr)    # pass in a NumPy array

0    10
1    20
2    30
dtype: int64

In [19]:
pd.Series(arr,labels) # and like a list, index with lables and be smart

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(d) # pass in a dictionary, and make all the aboe super quick and smart

a    10
b    20
c    30
dtype: int64

In [21]:
# FYI Pandas Series can hold a variety of object types

In [23]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [25]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [28]:
ser1['USA'] # note that index is a lable and called as such

1

In [29]:
ser3 = pd.Series(labels)

In [30]:
ser3

0    a
1    b
2    c
dtype: object

In [32]:
ser3[0]

'a'

In [33]:
# fyi, when working with series data, often things are based off the index

In [34]:
# add ser1 and ser2 and its going to do it based off the index

In [36]:
ser1 + ser2 # note nan on Italy and USSR as niether is in both data series

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [38]:
# Note: Series has a lable and a data point, basically the index is a lable and the rest are data points to be addressed /found by hashing the index