In [ ]:
# Dictionaries

In [2]:
d = {'key1':'value', 'key2':[123]}

In [3]:
d

{'key1': 'value', 'key2': [123]}

In [5]:
d['key1'] #must pass key, and not a seq list index, as it is hashed

'value'

In [6]:
d['key2']

[123]

In [9]:
d={'k1':[1,2,3]}

In [10]:
d

{'k1': [1, 2, 3]}

In [11]:
d[k1]

NameError: name 'k1' is not defined

In [12]:
d['k1']

[1, 2, 3]

In [13]:
d['k1'][1] # once you can get to a list, then you can call out a seq, ex: 2nd position in the list

2

In [14]:
my_list = d['k1'] # assign a variable to make a specific key

In [15]:
my_list[0] # then call from the list the seq position

1

In [17]:
d['k1'][0] # same as above, just went straight to it without create another variable

1

In [21]:
d = {'k1':{'innerkey':[1,2,3]}} # nested dictionaries

In [22]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [23]:
d['k1']

{'innerkey': [1, 2, 3]}

In [24]:
d['k1']['innerkey']

[1, 2, 3]

In [25]:
d['k1']['innerkey'][1] # you can grab 2nd position all in one line here

2

In [26]:
# Booleans

In [27]:
True # cap T

True

In [28]:
False # cap f

False

In [30]:
my_list = [1,2,3]

In [31]:
my_list[2]

3

In [32]:
# tuple # sues paran ()

In [33]:
t = (1,2,3)

In [34]:
t

(1, 2, 3)

In [35]:
t[1]

2

In [36]:
my_list

[1, 2, 3]

In [37]:
my_list[0]

1

In [38]:
my_list[0] = 'NEW'

In [39]:
my_list

['NEW', 2, 3]

In [40]:
t

(1, 2, 3)

In [41]:
t[0]

1

In [42]:
t[0] = 'NEW' # correct to error as a tuple is non-mutable, good to set fixed, not allow user to change values

TypeError: 'tuple' object does not support item assignment

In [43]:
# Sets, a collection of unique elements

In [44]:
{1,1,1,2,2,2,3,3,3,} # only one output on repeats as a set is only defined by uniqiness

{1, 2, 3}

In [46]:
set([1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6])

{1, 2, 3, 4, 5, 6}

In [47]:
s = {1,2,3}

In [48]:
s

{1, 2, 3}

In [50]:
s.add(5)

In [51]:
s

{1, 2, 3, 5}

In [52]:
# comparison operators, allows to compare two elements together

In [53]:
1 > 2

False

In [54]:
1 < 2

True

In [55]:
1 >= 2

False

In [56]:
1 <= 2

True

In [57]:
1 == 1

True

In [58]:
1 == 2

False

In [60]:
1 != 3

True

In [62]:
'hi' == 'bye'

False

In [63]:
'hi' != 'bye'

True

In [64]:
1 < 2 and 2 < 3

True

In [66]:
(1 < 2) and (2 > 3)  # and operator all conditions must be true # paran wrap makes more readable

False

In [67]:
(1 > 2) or (2 < 3) or (1 == 1) #only one has to be True, and you can stack them

True

In [69]:
True and True

True

In [70]:
False and False

False

In [71]:
True and False

False

In [72]:
False and True

False

In [73]:
True == True

True

In [74]:
False == False

True

In [75]:
True or False

True

In [76]:
# Code Blocks , looking for true conditions

In [77]:
if (1 < 2):
    print('Yep!')

Yep!

In [78]:
if True:
    x=2+2

In [79]:
x

4

In [80]:
if 1 == 2:
    print ('First')
else:
    print('Last')

Last

In [81]:
if 1 != 2:
    print ('First')
else:
    print('Last')

First

In [86]:
if 1 == 2:
    print ('First')
elif 4 == 4:
    print ('Second')    # hits on this as it stops after the 1st elif condition is true, stops looking afterwards
elif 3 == 3:
    print ('Middle')
else:
    print('Last')

Second